.app{
    display: flex;
    flex-direction: row;
}
video{
    /*//width: 15%;*/
}
.video_panel{
    width: 50%;
    display: grid;
    grid-template-columns: 2fr auto;
}
.log{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.log-line{
    display: flex;
    flex-direction: row;
    border: 1px solid black;
}